.signin-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.basic-input{
    margin-top: 1rem;
    width: 40%;
    padding: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.signin-form > a{
    text-decoration: none;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
.signin-form >button{
    cursor: pointer;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: white;
}
.signin-form>p{
    color: red;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}